.button {
    background-color: aquamarine;
    max-width: 14rem;
    min-width: 14rem;
    border-radius: 3rem;
    padding: .5rem .4rem .5rem 1rem;
    align-items: center;
    align-content: center;
}

.outercontainer {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.885);
    padding: 2rem;
    margin: 0 5rem 0 5rem;
    color:#474747;
    height: 100%;
}